.home{
    display: grid ;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
    grid-template-areas:  'header header header header header header header header header header header header'
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main '
                          'sidebar main main main main main main main main main main main ';
                          
}

.sidebar-container{
    grid-area: sidebar;
}

.header-container{
    grid-area: header;
}

.main-panel{
    grid-area: main;
    padding: 28px;
}