.general{
  font-size: medium;
  background-color: cadetblue;
  max-width: 500px;
  width: 100%;
}

.h4{
align-items: center;
text-align: center;
margin-top: 40px;
padding: 30px;
}

.cancelar{  
   margin-bottom: 20px;
    margin-left: 20px;
}

.aceptar{
    align-items: right;
    text-align: right;
    margin-right: 20px;
}

.confirm{
    max-width: 80px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin-right: 150px; 
    margin-bottom: 20px;
    background-color:darkgray;
}

.cancel{
    max-width: 80px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin-left: 150px; 
    margin-bottom: 20px;
    background-color:darkgray;
}   



