.log-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: #292929;
    justify-content: center;
    align-items: center;
     /* Con imagen */
    background-image: url(../assets/img/logfile-c.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* Color gradient azulado*/
     /* background-image: linear-gradient(rgb(6, 45, 129),white); */
     /* Color gradient negro y blanco */
     /* background-image: linear-gradient(black,white); */
     /* Con esta propiedad manejamos la posición de la imagen */
     /* background-position: 50% 70%; */
}

.panel-login{
    padding: 30px;
    margin-top: 0%;
    grid-area: 2/2/4/4;
    background-color: rgb(209, 201, 201);
    border-radius: 60px;
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 4px 7px 10px rgba(0,0,0,.4);
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    
     
    
     
    
}
.title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(7, 6, 6);

}

.items{
    justify-content: center;
    position: center;
    align-items: center;
  
}

.button{
    padding: 30px;
    text-align: center;
    margin: 10px;
}

.registrarse{
    text-align: center;
}

.acceder{
    padding-top: 20px;
    text-align: center;

}

.logo-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}