.root{
    max-width: 500px;
    width: 100%;
    
}

.container{
background-color: cadetblue;
justify-content: left;
align-items: left;
}

.all{

}

.Subtitle{
font-size: small;
padding: 5px;
margin: 5px;
margin-left: 3px;
justify-content: left;
text-align: left;
}

.input{
max-width: 500px;
width: 100%;
border-radius: 0px;
padding: 10px;
}

.boton{
max-width: 500px;
width: 100%;
border-radius: 0px;
border: none;
background-color:darkgray; 
}

