.header{
    background-color: #EBEBEB;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 0 0 0;
}

.header-mobile{
    background-color: #EBEBEB;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 0 0 0;
}

.text-container{
    margin: 0 auto;
    height: 30px;
    width: 90%;
    padding: 0 30%;
    align-items: center;
}

.text-container h5{
    color: black;
    justify-content: center;
    text-align: center;
}

 .header .line{
    color: rgba(0, 0, 0, 0.657);
    margin: 0;
    padding: 0;
}


